*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: #1B3A6F;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFD700;
}
 div {
    display: flex;
    height: 15rem;
    justify-content: space-around;
   
 }
p {
    width: 20rem;

}

.primeira {
    margin-bottom: 5rem;
}

.segunda {
    background-color: #F0E5CF;
   height: 20rem;
   align-items: center;
   justify-content: center;
   justify-content: space-evenly;
}
.segunda img {
    height: 15rem;
    width: 10rem;
}
.segunda p {
    width: 20rem;
}

.terceira img {
    height: 15rem;
    width: 15rem;
    margin-bottom: 2rem;
    
}
.terceira  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    
    
}
